@font-face {
  font-family: "iconfont"; /* Project id 5120266 */
  src: url('@/static/font/iconfont.woff2?t=1769744040928') format('woff2'),
       url('@/static/font/iconfont.woff?t=1769744040928') format('woff'),
       url('@/static/font/iconfont.ttf?t=1769744040928') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-VIP:before {
  content: "\e688";
}

.icon-huiyuanvip:before {
  content: "\e7ad";
}

.icon-kuozhanVIP:before {
  content: "\e603";
}

